__pycache__/
*.pyc
fingerprints/
*.pt
*.pth
*.bin
baselines/LeaFBench/cache/
baselines/REEF-master/src/results/
baselines/REEF-master/src/activations/
baselines/HuRef-main/encoders/
baselines/LeaFBench/data/
plot_*.py
